@import "../node_modules/ui-styles/variables";
@import "../node_modules/ui-styles/visual-elements";

.input-text {
  color: @color-text;
  box-sizing: border-box;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
}

:host {
  box-sizing: border-box;
  display: inline-flex;
  justify-content:flex-start;
  width: 100%;
  background-color: transparent;
  color: @color-text;
  .transition(@transition);
  ::content {
    icon {
      .transition(@transition);
      margin-right: 1em;
      font-size: 1em;
      line-height: @line-height;
    }
    value {
      display: inline-block;
      margin: 0;
      padding: 0 @pad 0 0;
      icon {
        margin-right: 0;
      }
    }
    preview {
      display: inline-flex;
      margin: 0;
      padding: 0;
      cursor: text;
      font-family: inherit;
      font-weight: inherit;
    }
  }


  #field {
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: @line-height;
    font-size: 1em;

    margin: 0;
    padding: 0;

    #value-input {
      .transition(@transition);
      .bottom-border;
      display: inline-flex;
      margin: 0;
      padding: 0;
      justify-content:flex-start;
      align-items: center;
      flex: 1;
      placeholder {
        display: flex;
      }
    }

    input, textarea, placeholder {
      flex: 1;
      border: none;
      outline: none;
      padding: 0;
      font-size: 1em;
    }

    input[type="date"]::-webkit-inner-spin-button,
    input[type="datetime"]::-webkit-inner-spin-button,
    input[type="datetime-local"]::-webkit-inner-spin-button,
    input[type="month"]::-webkit-inner-spin-button,
    input[type="time"]::-webkit-inner-spin-button,
    input[type="week"]::-webkit-inner-spin-button {
      display: none;
    }
  }
}

:host([focused]) {
  #field {
    #value-input {
      .bottom-focused-border;
    }
  }
  ::content {
    icon {
      .transform(scale(1.2));
    }
  }
}

:host([disabled]) {
  #field {
    placeholder {
      color: @color-disabled-text;
    }
    input, textarea {
      color: @color-disabled-text;
    }
  }
}

:host([borderless]) {
  #field {
    #value-input {
      border: 0;
    }
  }
}

input, textarea, #value-input {
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}
