@import "../node_modules/ui-styles/variables";
@import "../node_modules/ui-styles/visual-elements";
:host {
  box-sizing: border-box;
  display: inline-flex;
  justify-content:flex-start;
  width: 100%;
  background-color: transparent;
  color: @color-text;
  .transition(@transition);
  ::content {
    icon {
      display: inline-block;
      margin-right: 1em;
      line-height: inherit;
    }
    value {
      display: inline-block;
      margin: 0;
      padding: 0 @pad 0 0;
      icon {
        margin-right: 0;
      }
    }
    preview {
      display: inline-flex;
      margin: 0;
      padding-bottom: @pad;
      width: 100%;
      cursor: text;
    }
  }


  #field {
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;

    margin: 0;
    .transition(@transition);

    #value-input {
      .transition(@transition);
      .bottom-border;
      display: inline-flex;
      justify-content:flex-start;
      align-items: center;
      flex: 1;
      padding-bottom: @pad;
    }

    #html-input {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      flex: 1;
      display: flex;
      flex-wrap: no-wrap;
      justify-content:flex-start;
      align-items: center;
      cursor: text;
      input, textarea {
        color: @color-text;
        min-width: 25%;
        box-sizing: border-box;
        flex: 1;
        height: 100%;
        background-color: transparent;
        line-height: @line-height;
        outline: none;
        border: none;
        margin: 0;
        padding: 0;
        .transition(@transition);
      }
      input[type="date"]::-webkit-inner-spin-button,
      input[type="datetime"]::-webkit-inner-spin-button,
      input[type="datetime-local"]::-webkit-inner-spin-button,
      input[type="month"]::-webkit-inner-spin-button,
      input[type="time"]::-webkit-inner-spin-button,
      input[type="week"]::-webkit-inner-spin-button {
        display: none;
      }
    }
  }
}

:host([focused]) {
  #field {
    #value-input {
      .bottom-focused-border;
    }
  }
}

:host([disabled]) {
  #field {
    #html-input {
      input, textarea {
        color: @color-disabled-text;
      }
    }
  }
}

:host([borderless]) {
  #field {
    #value-input {
      border: 0;
    }
  }
}

input, textarea {
  font-family: inherit;
  font-weight: inherit;
}
