@import "../node_modules/ui-styles/variables";
@import "../node_modules/ui-styles/visual-elements";
:host {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 100%;
  background-color: transparent;
  font-size: 1em;
  color: fade(@color-text, @nearlyOpaque);
  .transition(@transition);
  #disabler {
    .disabler-enabled;
  }
  ::content {
    icon {
      display: inline-block;
      margin-right: 0.25em;
      line-height: inherit;
    }
    value {
      display: inline-block;
      margin-right: 0.25em;
      padding: 0em .25em;
      overflow: hidden;
    }
  }

  #field {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;

    margin: 0;
    padding: 0.15em 0.15em;
    .transition(@transition);
    .bottom-border;
    &.focused {
      color: @color-text;
      .bottom-focused-border;
    }
    &.disabled {
      color: fade(@color-text, @disabled);
    }
    input, textarea {
      min-width: 25%;
      box-sizing: border-box;
      flex: 1;
      height: 100%;
      background-color: transparent;
      font-size: 1em;
      outline: none;
      border: none;
      margin: 0;
      padding: 0;
      color: fade(@color-text, @nearlyOpaque);
      .transition(@transition);
      &:focus {
        color: @color-text;
      }
    }
  }
}

:host([inverted]) {
  color: fade(@color-inverted-text, @nearlyOpaque);
  #field {
    .bottom-inverted-border;
    &.focused {
      color: @color-inverted-text;
      .bottom-inverted-focused-border;
    }
    &.disabled {
      color: fade(@color-inverted-text, @disabled);
    }
    input, textarea {
      color: fade(@color-inverted-text, @nearlyOpaque);
      &:focus {
        color: @color-inverted-text;
      }
    }
  }
}

:host([disabled]) {
  #disabler {
    .disabler-disabled;
  }
  #field {
  }
}

input, textarea {
  font-family: inherit;
  font-weight: inherit;
}
